<nav class="navbar navbar-light bg-light">
    <form action="/weather" method="GET">
        <input name="city" placeholder="Enter a city name" required>
        <input id="button" type="submit" value="Get Forecast" >
    </form>
</nav>
<div class="weather-from-input" id="current-weather">
    <h2>Weather at {{myWeather.location}}</h2>
    <div class="weather-info">
        <div class="icon">
            <img src="https://darksky.net/images/weather-icons/{{myWeather.hourly.icon}}.png" alt="icon">
        </div>
        <div class="info">
            <p>Summary: {{myWeather.summary}}</p>
            <p>Temperature: {{myWeather.temperature}}</p>
            <p>UV Index: {{myWeather.uvIndex}}</p>
        </div>

    </div>
    <h3>{{myWeather.hourly.summary}}</h3>
    <ul class="hourly-data">
        {{#each myWeather.data}}
        <li>
            <img src="https://i.pinimg.com/originals/d0/73/35/d07335a92f67a04adc75b402004ad1d7.gif" width="50px" height="50px">
            <span style="font-weight: bolder;">{{time}}</span>
            <span >{{temperature}}°C</span>
            <span>{{summary}}</span></li>
        {{/each}}
    </ul>

</div>